@import "settings";
@import "foundation";

.header {
    z-index: 200;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.template {
    display: block;
    margin: 0 auto;
}
.menu-group-right {
    padding-right: 50px;
}

.menu-group-right ul li {
    border-left:1px solid #ccc;
}

.hi-light {
    color: yellowgreen;
}

svg {
    display: block;
    margin: 0 auto;
}

rect.bordered {
    stroke: #ffffff;
    stroke-width:2px;   
}

text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

// Layout

.padding-lr-1 {
    margin: 0 1%
}

.padding-lr-5 {
    margin: 0 5%
}

.padding-lr-10 {
    margin: 0 10%
}

.padding-lr-20 {
    margin: 0 20%
}

.padding-lr-30 {
    margin: 0 30%
}

.padding-lr-40 {
    margin: 0 40%
}

.padding-lr-50 {
    margin: 0 50%
}