@import "settings";
@import "foundation";

.header {
    z-index: 200;
    position: fixed; 
    top: 0px; 
    left: 0px;
    width: 100%;
}

.template {
    margin-top: 70px;
    margin-left: 10%;
    margin-right: 10%;
}
.menu-group-right {
    padding-right: 50px;
}

.hi-light {
    color: yellowgreen;
}

rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;   
}

text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

text.axis-workweek {
    fill: #000;
}

text.axis-worktime {
    fill: #000;
}