<input type="text" placeholder="Filter text" data-ng-model="searchRadio">
<table class="table table-condensed table-striped table-hover">
    <caption>{{ filtered.length }} results found</caption>
    <thead>
        <tr>
            <th>
                <a href="" data-ng-click="c.view.sortType = 'frequency'; c.view.sortReverse = !c.view.sortReverse">Frequency 
                    <span data-ng-show="c.view.sortType == 'frequency' && !c.view.sortReverse" class="fi-caret-bottom"></span>
                    <span data-ng-show="c.view.sortType == 'frequency' && c.view.sortReverse" class="fi-caret-top"></span>
                </a>
            </th>
            <th>
                <a href="" data-ng-click="c.view.sortType = 'ident'; c.view.sortReverse = !c.view.sortReverse">Ident 
                    <span data-ng-show="c.view.sortType == 'ident' && !c.view.sortReverse" class="fi-caret-bottom"></span>
                    <span data-ng-show="c.view.sortType == 'ident' && c.view.sortReverse" class="fi-caret-top"></span>
                </a>
            </th>
            <th>
                <a href="" data-ng-click="c.view.sortType = 'mode'; c.view.sortReverse = !c.view.sortReverse">Mode 
                    <span data-ng-show="c.view.sortType == 'mode' && !c.view.sortReverse" class="fi-caret-bottom"></span>
                    <span data-ng-show="c.view.sortType == 'mode' && c.view.sortReverse" class="fi-caret-top"></span>
                </a>
            </th>
            <th>Details</th>
            <th>Coordinate</th>
            <th>
                <a href="" data-ng-click="c.view.sortType = 'location'; c.view.sortReverse = !c.view.sortReverse">Location 
                    <span data-ng-show="c.view.sortType == 'location' && !c.view.sortReverse" class="fi-caret-bottom"></span>
                    <span data-ng-show="c.view.sortType == 'location' && c.view.sortReverse" class="fi-caret-top"></span>
                </a>
            </th>
            <th>
                <a href="" data-ng-click="c.view.sortType = 'type'; c.view.sortReverse = !c.view.sortReverse">Type 
                    <span data-ng-show="c.view.sortType == 'type' && !c.view.sortReverse" class="fi-caret-bottom"></span>
                    <span data-ng-show="c.view.sortType == 'type' && c.view.sortReverse" class="fi-caret-top"></span>
                </a>
            </th>
            <th>Flag</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="r in filtered = (c.view.radios | orderBy:c.view.sortType:c.view.sortReverse | filter:searchRadio) ">
            <td>{{ r.frequencyText }}</td>
            <td>{{ r.ident }}
            <td>{{ r.mode }}</td>
            <td>None</td>
            <td>{{ r.coordinate }}</td>
            <td>{{ r.locationName }}</td>
            <td>{{ r.type }}</td>
            <td>
                <div class="button-group">
                    <a class="hollow button fi-pencil" title="modify" aria-hidden="true"></a>
                    <a class="alert hollow button fi-trash" title="remove" aria-hidden="true"></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>