<table class="table table-condensed table-striped table-hover">
    <caption>Cute Animals Per 1,000 People</caption>
    <thead>
        <tr>
            <th>Frequency</th>
            <th>Mode</th>
            <th>Details</th>
            <th>Location</th>
            <th>Type</th>
            <th>Flag</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>123.224</td>
            <td>AM</td>
            <td>Clock Tower</td>
            <td>Bangkok</td>
            <td>TACAN</td>
            <td>Edit</td>
        </tr>
    </tbody>
</table>
<!-- table class="table" / -->