<div class="template padding-lr-5">
    <h3 class="text-center"><strong>RADIO FREQUENCY & SPECTRUM <span class="hi-light">DATABASE</span></strong></h3>
    <hr />
    <form>
        <div class="grid-block align-center">
            <label style="align-self: center;">Search</label>
            <div class="grid-content small-3">
                <input type="text" placeholder="all">
            </div>
            <label style="align-self: center;">Location</label>
            <div class="grid-content small-3">
                <select name="" id="">
                    <option value="">anywhere</option>
                    <option value="">Bangkok</option>
                    <option value="">Ratchaburi</option>
                    <option value="">Korat</option>
                </select>
            </div>
            <div class="small-1">
                <a href="#" class="success button">search</a>
            </div>
        </div>
    </form>
    <p class="text-center">Total <b>124</b> frequencies. <b>51</b> frequencies assigned to <b>100</b> radio equipments.</p>
    <p class="text-center">
        <a class="hi-light" href="">Add</a> new radios or locations.<br />
        <a class="hi-light" href="">Assign</a> or <a class="hi-light" href="">reuse</a> more frequencies to existing radio equipments.
    </p>
    <hr />
    <div data-ng-include="'./partials/radio-table.html'" />
</div>
