<div class="template">
    <h3 class="text-center"><strong>RADIO FREQUENCY & SPECTRUM <span class="hi-light">OPTIMIZATION</span></strong></h3>
    <hr />
    <form data-ng-submit="c.submit()">
        <div class="row column">
            <h5>1. Add new radio :</h5>
            <div class="row">
                <div class="large-2 medium-2 columns">
                    <label>Identification</label>
                    <input type="text" data-ng-model="c.radio.ident">
                </div>
                <div class="large-2 medium-2 columns">
                    <label>Mode</label>
                    <select data-ng-model="c.radio.mode">
                        <option value=''>Select</option>
                        <option value='1'>AM</option>
                        <option value='0'>Unknown</option>
                    </select>
                </div>
                <div class="large-3 medium-3 columns">
                    <label>Latitude</label>
                    <input type="number" step="any" data-ng-model="c.radio.latitude">
                </div>
                <div class="large-3 medium-3 columns">
                    <label>Longitude</label>
                    <input type="number" step="any" data-ng-model="c.radio.longitude">
                </div>
                <div class="large-2 medium-2 columns">
                    <label>Location</label>
                    <select data-ng-model="c.radio.location" data-ng-options="l.name for l in c.locations">
                        <option value="">Select</option>
                    </select>
                </div>
            </div>
            <div class="button-group float-left">
                <label for="newUpload" class="button">Upload File</label>
                <input type="file" id="newUpload" class="show-for-sr">
            </div>
            <div class="button-group float-right">
                <button type="button" class="secondary button">Reset</button>
                <button type="button" data-ng-click="c.addNewRadio(c.radio)" class="button">Add</button>
            </div>
            <hr />
            <h5>2. Manage radios :</h5>
            <div class="row small-up-1 medium-up-2 large-up-4 large-centered">
                <div class="column" data-ng-repeat="r in c.view.radios">
                    <div class="block">
                        <div><h2><span class="fi-wifi"></span> {{ r.ident }}</h2></div>
                        <div class="clearfix">
                            <div class="float-left"><span class="primary fi-map-marker"></span> {{ r.location.name }} {{ c.getCoordinate(r) }}</div>
                            <div class="float-right"><a class="alert fi-circle-x" title="remove" data-ng-click="c.removeRadio($index)"></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <h5>3. Frequency Selection :</h5>
            <div>
                <div class="float-left">
                    <a class="button" data-ng-class="c.view.selectedPriority.style" data-ng-click="c.selectAllChannels()">Apply all</a>
                </div>
                <div class="float-right">
                    <a class="alert button" data-ng-class="{'hollow':c.view.selectedPriority.value!=0}" data-ng-click="c.view.selectedPriority=c.priorities[0];">
                        High ({{ c.countChannels(c.priorities[0]) }})
                    </a>
                    <a class="warning button" data-ng-class="{'hollow':c.view.selectedPriority.value!=1}" data-ng-click="c.view.selectedPriority=c.priorities[1];">
                        Medium ({{ c.countChannels(c.priorities[1]) }})
                    </a>
                    <a class="button" data-ng-class="{'hollow':c.view.selectedPriority.value!=2}" data-ng-click="c.view.selectedPriority=c.priorities[2];">
                        Low ({{ c.countChannels(c.priorities[2]) }})
                    </a>
                    <a class="secondary button" data-ng-class="{'hollow':c.view.selectedPriority.value!=3}" data-ng-click="c.view.selectedPriority=c.priorities[3];">
                        Cancel
                    </a>
                </div>
            </div>
            <hr />
            <div>
                <button class="button" type="button" style="margin-right: 5px"
                    data-ng-click="c.selectChannel(ch)"
                    data-ng-class="ch.priority.style"
                    data-ng-repeat="ch in c.view.channels">{{ ch.frequency }}X
                </button>
            </div>
            <div class="button-group float-left">
                <label for="channelsUpload" class="button">Upload File</label>
                <input type="file" id="channelsUpload" class="show-for-sr">
            </div>
            <hr/>
            <h5>4. Planning criteria :</h5>
            <div class="row">
                <div class="large-6 medium-6 columns">
                    <div>
                        <p>4.1 Antenna Characteristics :</p>
                    </div>
                    <div class="large-6 medium-6 columns">
                        <label for="pattern">Radiation Pattern</label>
                        <select id="pattern" data-ng-model="c.view.refAntenna">
                            <option value="">Select</option>
                            <option value="0">Isotropic</option>
                        </select>
                    </div>
                    <div class="large-6 medium-6 columns end">
                        <label for="contour">Contour (NM)</label>
                        <input id="contour" type="number" data-ng-model="c.view.contour">
                    </div>
                </div>
                <div class="large-6 medium-6 columns"></div>
            </div>
            <hr/>
            <!-- h5>4. Optimization options :</h5>
            <div class="row">
                <div class="large-6 medium-6 columns">
                    <div class="columns">
                        <p>4.1 Pre-define a range of frequencies :</p>
                    </div>
                    <div class="large-1 medium-1 columns">
                        <label for="from-label" class="text-right middle">From</label>
                    </div>
                    <div class="large-3 medium-3 columns">
                        <input id="from-label" type="text">
                    </div>
                    <div class="large-1 medium-1 columns">
                        <label for="to-label" class="text-right middle">To</label>
                    </div>
                    <div class="large-3 medium-3 columns end">
                        <input id="to-label" type="text">
                    </div>
                </div>
                <div class="large-6 medium-6 columns">
                    <div class="columns">
                        <p>4.2 Choose your performance option :</p>
                    </div>
                    <div class="columns">
                        <input name="performance" type="radio">
                        <label class="middle">Best</label>
                        <input name="performance" type="radio">
                        <label class="middle">Good</label>
                    </div>
                </div>
            </div>
            <hr/ -->
            <div class="float-left">
                <input type="submit" class="button" value="Submit">
                <button type="button" class="secondary button">Reset</button>
            </div>
        </div>
    </form>
</div>