<div class="template">
    <h3 class="text-center"><strong>RADIO FREQUENCY & SPECTRUM <span class="hi-light">OPTIMIZATION</span></strong></h3>
    <hr />
    <form>
        <div class="row column">
            <h5>Add new radio :</h5>
            <div class="row">
                <div class="large-2 medium-2 columns">
                    <label>Identification</label>
                    <input type="text">
                </div>
                <div class="large-2 medium-2 columns">
                    <label>Mode</label>
                    <input type="text">
                </div>
                <div class="large-4 medium-4 columns">
                    <label>Latitude</label>
                    <input type="number">
                </div>
                <div class="large-4 medium-4 columns">
                    <label>Longitude</label>
                    <input type="number">
                </div>
            </div>
            <div class="button-group float-right">
                <button type="button" class="secondary button">Reset</button>
                <button type="button" class="button">Add</button>
            </div>
            <div class="row small-up-1 medium-up-2 large-up-4">
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
                <div class="column">
                    <img src="//placehold.it/300x300" class="thumbnail" alt="">
                </div>
            </div>
        </div>
    </form>
    <!-- div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Identification</th>
                    <th>Mode</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="r in c.radios">
                    <td>1</td>
                    <td><input type="text" data-ng-model="r.ident" /></td>
                    <td><input type="text" data-ng-model="r.mode" /></td>
                    <td><input type="number" data-ng-model="r.latitude" /></td>
                    <td><input type="number" data-ng-model="r.longitude" /></td>
                    <td><input type="text" data-ng-model="r.type" /></td>
                    <td>
                        <a class="alert hollow button fi-trash" title="cancel" aria-hidden="true"></a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="text" data-ng-init="item.name=''" data-ng-model="item.name" /></td>
                    <td><input type="text" data-ng-model="item.mode" /></td>
                    <td><input type="number" data-ng-model="item.latitude" /></td>
                    <td><input type="number" data-ng-model="item.longitude" /></td>
                    <td><input type="text" data-ng-model="item.type" /></td>
                    <td>
                        <a class="hollow fi-plus" title="add" aria-hidden="true"></a>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody> 
        </table>
    </div -->
    
    <!-- div data-ng-controller="TestGreedyController as c">
        <ul>
            <li data-ng-repeat="output in c.outputs">{{output}}</li>
        </ul>
    </div -->
</div>