<div class="template padding-lr-5">
    <h3 class="text-center"><strong>RADIO FREQUENCY & SPECTRUM <span class="hi-light">PLAN</span></strong></h3>
    <hr />
    
    <div data-ng-controller="PlanController as c">
        <p>
            Assigned Frequencies: <strong>{{ c.usedFrequencies }}</strong><br/>
            Total Frequencies: <strong>{{ c.totalFrequencies }}</strong><br/>
            Total Radios: <strong>{{ c.totalRadios }}</strong><br/>
            Last Updated : <strong>2 Dec 2015</strong><br/>
        </p>
        <hr/>
        <div id="chart" data-ng-init="c.heatmap('#chart')"></div>
    </div>
</div>