---
name: reservation
url: /reservation
---

<div class="template padding-lr-5">
    <h3 class="text-center"><strong>RADIO FREQUENCY & SPECTRUM <span class="hi-light">RESERVATION</span></strong></h3>
    <hr />
    <form>
        <fieldset>
            <legend><strong>Physical Description</strong></legend>
            <div class="small-6 medium-3 large-1 grid-content">
                <label>Navaids type</label>
                <select name="" id="">
                    <option>DME</option>
                    <option>TACAN</option>
                    <option>VORTAC</option>
                    <option>Others</option>
                </select>
            </div>
            <div class="small-12 medium-6 large-3 grid-content">
                <label>WGS-84 Coordinates</label>
                <input type="number" placeholder="Latitude">
                <input type="number" placeholder="Longitude">
            </div>
        </fieldset>
    </form>
    
</div>